<html>
<head>
	<meta charset="UTF-8">
	<title>Poll-intor</title>
	{% load static %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
	<nav class="navbar navbar-fixed">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="navbar-brand" href="#">Poll-R-Bear
				</div>
			</div>
		</div>
	</nav>
	<div class="content">
		<div class="questions-list">
			{% for item in data %}
			<div class="question">
				<p>{{item.question.text}}</p>

				{% for answer in item.answers %}
				<p>{{answer.text}}</p>
				<img src="#" alt="">
				<p>{{answer.upvotes}} votes</p>
				{% endfor %}

			<a class="btn btn-bear" href={% url 'question' item.question.id %}>Go Vote</a>
			</div>
			{% endfor %}
		</div>
		<button class="btn btn-fancy btn-bear" id="questionCreate">
			Create A Question
		</button>
	</div>
</body>
</html>
