<html>
<head>
	<meta charset="UTF-8">
	<title>Poll-intor</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="style.css"/>
</head>
<body>
	<nav class="navbar navbar-fixed">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="navbar-brand" href="#">Poll-R-Bear
				</div>
			</div>
		</div>
	</nav>
	<div class="content">
		<div class="questions">
			<div class="question">
				<p>First question here</p>
				<img src="#" alt="">
				<button>Vote</button>
			</div>
			<div class="question">
				<p>First question here</p>
				<img src="#" alt="">
				<button>Vote</button>
			</div>
			<div class="question">
				<p>First question here</p>
				<img src="#" alt="">
				<button>Vote</button>
			</div>
			<div class="question">
				<p>First question here</p>
				<img src="#" alt="">
				<button>Vote</button>
			</div>
			<div class="question">
				<p>First question here</p>
				<img src="#" alt="">
				<button>Vote</button>
			</div>
		</div>
		<button id="questionCreate">
			Create A Question
		</button>
	</div>
</body>
</html>
