<html>
<head>
	<meta charset="UTF-8">
	<title>Poll R Bear</title>
	{% load static %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-fixed">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="navbar-brand" href="#">Poll-R-Bear
				</div>
			</div>
		</div>
	</nav>
	<h2 class="question-title">
		{{ question }}
	</h2>
	<button type="button" class="btn btn-bear btn-fancy">
		Add an Answer
	</button>
	<div class="answer-wrapper">
		{% for answer in answers %}
		<div class="answer">
			<p>{{answer.text}}</p>
			<img src="#" alt="">
			<button class="btn btn-bear" onclick="upvote({{answer.id}})">Vote</button>
			<p id="{{answer.id}}">{{answer.upvotes}}</p>
		</div>
    	{% endfor %} 
	</div>

	<script type="text/javascript">
		function upvote(id) {
			console.log("Upvoting answer number " + id);
			$.ajax({
		 	 type: "POST",
		 	 url: "../add_upvote/",
		 	 data: {'answer_id': id},
		 	 dataType: 'json',
		 	 success: function(response) {
		 	 	console.log('successfully upvoted');
		 	 	var idString = '#' + id;
		 	 	$(idString).html(parseInt($(idString).html(), 10)+1);
		 	 }
			});
		}

	</script>
</body>
</html>