<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="style.css"/>
</head>
<body>
	<nav class="navbar navbar-fixed">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="navbar-brand" href="#">Poll-R-Bear
				</div>
			</div>
		</div>
	</nav>
	<h2 class="question">
		Do you like this question?
	</h2>
	<button type="button" class="btn btn-bear">
		Add an Answer
	</button>

</body>
</html>