<html>
<head>
	<meta charset="UTF-8">
	<title>Poll R Bear</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="style.css"/>
</head>
<body>
	<nav class="navbar navbar-fixed">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="navbar-brand" href="#">Poll-R-Bear
				</div>
			</div>
		</div>
	</nav>
	<h2 class="question-title">
		Do you like this question?
	</h2>
	<button type="button" class="btn btn-bear btn-fancy">
		Add an Answer
	</button>
	<div class="answer-wrapper">
		<div class="answer">
			<p>Answer</p>
			<img src="#" alt="">
			<button class="btn btn-bear">Vote</button>
			<p>8 votes</p>
		</div>
		<div class="answer">
			<p>Answer</p>
			<img src="#" alt="">
			<button class="btn btn-bear">Vote</button>
			<p>8 votes</p>
		</div>
		<div class="answer">
			<p>Answer</p>
			<img src="#" alt="">
			<button class="btn btn-bear">Vote</button>
			<p>8 votes</p>
		</div>
		<div class="answer">
			<p>Answer</p>
			<img src="#" alt="">
			<button class="btn btn-bear">Vote</button>
			<p>8 votes</p>
		</div>
	</div>
</body>
</html>