
nav {
	background-color: #0097a7;
	color: #FFFFFF;
	width: 100%;
}

.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}
.navbar-brand {
	float:none;
}

.question {
	padding: 5%;
	float: left;
}

.btn-bear{
	background-color: #0097a7 !important;
	float: right;
	padding: 3%;
	font-size: 30px;
	color: white;
	margin-right: 10%;
	margin-top: 5%;
}